<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt Lịch Khám</title>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            margin-top: 30px;
        }
        .fc-daygrid-day-number {
            color: black;
        }
    </style>
</head>
<body>

<div class="container">
    <h2>Đặt Lịch Khám Thú Y</h2>
    <button type="button" class="btn btn-info" onclick="window.location.href='/appointments'">Quay lại</button>
    <div id="calendar"></div>

    <!-- Form Đặt Lịch -->
    <div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="appointmentModalLabel">Đặt Lịch Khám</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="appointmentForm" th:action="@{/appointments/create}" th:object="${appointment}" method="post"
                                class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="customerName">Tên Khách Hàng</label>
                            <input th:field="*{customerName}" type="text" id="customerName" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="customerEmail">Email</label>
                            <input th:field="*{customerEmail}" type="text" id="customerEmail" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="customerPhone">Số Điện Thoại</label>
                            <input th:field="*{customerPhone}" type="text" id="customerPhone" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="apntDate">Ngày Giờ Khám</label>
                            <input type="text" id="apntDate" name="apntDate" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="doctor">Chọn Bác Sĩ</label>
                            <select th:field="*{doctor}" class="form-control" id="doctor">
                                <option th:each="doctor : ${doctors}"
                                        th:value="${doctor.id}" th:text="${doctor.name}"></option>
                            </select>
                        </div>
                        <label>Chọn Khung giờ</label>
                        <div th:each="doctor : ${doctors}" class="form-group">
                            <select  class="form-control" th:id="${doctor.id}" name="availableTime" disabled="true" hidden="true">
                                <option th:each=" time : ${doctor.workTime}"
                                        th:value="${time.id}" th:text="${time.StartTime}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="appointmentNote">Ghi chú</label>
                            <input th:field="*{note}" type="text" id="appointmentNote" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary" >Đặt Lịch</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Thêm jQuery và các thư viện Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Thêm FullCalendar JS -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        // Danh sách các ngày lễ ở Việt Nam theo định dạng 'MM-DD'
        const holidays = [
            '01-01', // Tết Dương Lịch
            '04-30', // Ngày Giải Phóng Miền Nam
            '05-01', // Ngày Lao Động
            '09-02', // Ngày Quốc Khánh
        ];

        // Khởi tạo FullCalendar
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'vi',  // Thiết lập ngôn ngữ là tiếng Việt
            selectable: true, // Cho phép người dùng chọn ngày
            events: [],  // Sự kiện sẽ được tải từ backend
            dateClick: function(info) {
                // Khi người dùng click vào một ngày, hiển thị form đặt lịch
                var selectedDate = info.dateStr;
                if (isSunday(selectedDate) || isHoliday(selectedDate)) {
                    alert("Xin lỗi! bạn hãy chọn ngày khác vì ngày này cửa hàng đóng cửa!");
                } else {
                    document.getElementById('apntDate').value = selectedDate;
                     let selector = document.getElementById('doctor');
                    let value = selector[selector.selectedIndex].value;
                    for (let i = 0; i < selector.length; i++)
                     {
                        if (selector[i].value == value)
                        {
                            document.getElementById(selector[i].value).disabled = false;
                            document.getElementById(selector[i].value).hidden = false;
                        }
                        else{
                            document.getElementById(selector[i].value).disabled = true;
                            document.getElementById(selector[i].value).hidden = true;
                        }
                    }
                    $('#appointmentModal').modal('show');
                }
            }
        });

        // Hiển thị lịch
        calendar.render();

        // Kiểm tra xem ngày có phải là Chủ Nhật không
        function isSunday(date) {
            var day = new Date(date).getDay();
            return day === 0;  // 0 là Chủ Nhật trong JavaScript
        }

        // Kiểm tra xem ngày có phải là ngày lễ không
        function isHoliday(date) {
            // Lấy phần tháng và ngày từ chuỗi ngày (YYYY-MM-DD)
            const dayMonth = date.slice(5);  // Lấy phần ngày-tháng (MM-DD)
            return holidays.includes(dayMonth);  // Kiểm tra xem ngày-tháng có trong danh sách lễ không
        }

    });

    document.getElementById("doctor").onchange = function()
     {
        let selector = document.getElementById('doctor');
        let value = selector[selector.selectedIndex].value;
        for (let i = 0; i < selector.length; i++)
         {
            if (selector[i].value == value)
            {
                document.getElementById(selector[i].value).disabled = false;
                document.getElementById(selector[i].value).hidden = false;
            }
            else{
                document.getElementById(selector[i].value).disabled = true;
                document.getElementById(selector[i].value).hidden = true;
            }
        }
    }
</script>


</body>
</html>
